pre code.language-html .token.script.language-javascript .token.comment, pre code.language-javascript .token.comment, pre code.language-html .token.script.language-javascript .token.block-comment, pre code.language-javascript .token.block-comment, pre code.language-html .token.script.language-javascript .token.prolog, pre code.language-javascript .token.prolog, pre code.language-html .token.script.language-javascript .token.doctype, pre code.language-javascript .token.doctype, pre code.language-html .token.script.language-javascript .token.cdata, pre code.language-javascript .token.cdata {
  color: #555 !important; }

pre code.language-html .token.script.language-javascript .token.operator, pre code.language-javascript .token.operator, pre code.language-html .token.script.language-javascript .token.entity, pre code.language-javascript .token.entity, pre code.language-html .token.script.language-javascript .token.url, pre code.language-javascript .token.url, pre code.language-html .token.script.language-javascript .token.variable, pre code.language-javascript .token.variable {
  color: #af1a0f; }

pre code.language-html .token.script.language-javascript .token.selector, pre code.language-javascript .token.selector, pre code.language-html .token.script.language-javascript .token.attr-name, pre code.language-javascript .token.attr-name, pre code.language-html .token.script.language-javascript .token.char, pre code.language-javascript .token.char, pre code.language-html .token.script.language-javascript .token.builtin, pre code.language-javascript .token.builtin, pre code.language-html .token.script.language-javascript .token.inserted, pre code.language-javascript .token.inserted, pre code.language-html .token.script.language-javascript .token.atrule, pre code.language-javascript .token.atrule, pre code.language-html .token.script.language-javascript .token.attr-value, pre code.language-javascript .token.attr-value, pre code.language-html .token.script.language-javascript .token.keyword, pre code.language-javascript .token.keyword {
  color: #781bb6; }

pre code.language-html .token.script.language-javascript .token.property, pre code.language-javascript .token.property, pre code.language-html .token.script.language-javascript .token.tag, pre code.language-javascript .token.tag, pre code.language-html .token.script.language-javascript .token.boolean, pre code.language-javascript .token.boolean, pre code.language-html .token.script.language-javascript .token.number, pre code.language-javascript .token.number, pre code.language-html .token.script.language-javascript .token.function-name, pre code.language-javascript .token.function-name, pre code.language-html .token.script.language-javascript .token.constant, pre code.language-javascript .token.constant, pre code.language-html .token.script.language-javascript .token.symbol, pre code.language-javascript .token.symbol, pre code.language-html .token.script.language-javascript .token.string, pre code.language-javascript .token.string, pre code.language-html .token.script.language-javascript .token.deleted, pre code.language-javascript .token.deleted {
  color: #066544; }

pre code.language-html .token.script.language-javascript .token.punctuation, pre code.language-javascript .token.punctuation {
  color: #555; }

pre code.language-html .token.script.language-javascript .token.function, pre code.language-javascript .token.function {
  color: #0370b0; }

pre[class*='language-'] {
  background-color: transparent;
  background-image: none;
  border-left: 0; }

pre code.language-html .token.comment, pre code.language-html .token.block-comment, pre code.language-html .token.prolog, pre code.language-html .token.doctype, pre code.language-html .token.cdata {
  color: #555 !important; }

pre code.language-html .token.punctuation {
  color: #555; }

pre code.language-html .token.property, pre code.language-html .token.tag, pre code.language-html .token.boolean, pre code.language-html .token.number, pre code.language-html .token.function-name, pre code.language-html .token.constant, pre code.language-html .token.symbol, pre code.language-html .token.deleted {
  color: #af1a0f; }

pre code.language-html .token.selector, pre code.language-html .token.attr-name, pre code.language-html .token.string, pre code.language-html .token.char, pre code.language-html .token.function, pre code.language-html .token.builtin, pre code.language-html .token.inserted {
  color: #066544; }

pre code.language-html .token.operator, pre code.language-html .token.entity, pre code.language-html .token.url, pre code.language-html .token.variable {
  color: #781bb6; }

pre code.language-html .token.atrule, pre code.language-html .token.attr-value, pre code.language-html .token.keyword, pre code.language-html .token.class-name {
  color: #0370b0; }
